/* common open sans */
body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}

.section-titel {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #757575;
}
/*nav related styles*/
.texi-coler {
  color: #fd6e0a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* hrdar relatad */
.hrader {
  background-color: #fff8f3;
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.banner-description {
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about secction */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.about-info {
  text-align: center;
  font-size: 12px;
}
.info-title {
  color: #757575;
}
#wht-i-do {
  padding: 30px 150px;
}
.skillcontainer {
  display: flex;
  /* justify-content: space-around;
  gap: 10px;
  text-align: center; */
}
.skill {
  padding: 30px;
  gap: 24px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
  font-size: 16px;
}
/* resome section  */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item-education {
  color: #757575;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-description {
  color: #757575;

  font-size: 16px;
}

.resume-container br {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 200px;
  margin-top: 100px;
  gap: 100px;
}
.footer-column {
  width: 50%;
  text-align: center;
}
.from input[type="text"],
.from input[type="gmail"],
.form input,
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  font-size: 16px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}
.form-btm {
  color: #fd6e0a;
}
